<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.PDFRenderer" version="8.5.0.2860" targetFramework="net452" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="FreeSpire.PDF" version="3.2" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.6.102" targetFramework="net452" />
  <package id="NUnit" version="3.7.1" targetFramework="net452" />
  <package id="PDFNet" version="6.7.1.59452" targetFramework="net452" />
  <package id="Spire.PDF" version="3.9.189" targetFramework="net452" />
</packages>